<mat-label class="me-5" >{{ element().label }}</mat-label>
<mat-radio-group
  [formControl]="control()"
  [required]="element().required || false"
  [style]="element().width ? { width: element().width } : { width: '100%' }"
  [hidden]="element().hidden || false"
>
  @for (option of element().options; track $index) {
    <mat-radio-button [value]="option.key"> {{ option.label }} </mat-radio-button>
  }
  @if (element().hint) {
    <mat-hint>{{ element().hint }}</mat-hint>
  }
  @if (control().touched && control().errors) {
    <mat-error>
      <small>
        <sc-error [element]="element()" [errors]="control().errors"></sc-error>
      </small>
    </mat-error>
  }
</mat-radio-group>
