<mat-label>{{ element().label }}</mat-label>
<mat-form-field [style]="element().width ? { width: element().width } : { width: '100%' }">
  @if (element().autoComplete) {
    <input
      type="text"
      matInput
      [placeholder]="element().placeholder || ''"
      [required]="element().required || false"
      [readonly]="element().readonly || false"
      [hidden]="element().hidden || false"
      [formControl]="control()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [title]="option.label" [value]="option.key">{{ capitalizeWords(option.label) }}</mat-option>
      }
    </mat-autocomplete>
  } @else {
    <mat-select
      [formControl]="control()"
      hideSingleSelectionIndicator
      [multiple]="element().allowMultiple || false"
      [placeholder]="element().placeholder || ''"
      [required]="element().required || false"
      [hidden]="element().hidden || false"
    >
      @if (element().allowMultiple) {
        <mat-select-trigger>
          {{ control().value?.[0] || '' }}
          @if ((control().value?.length || 0) > 1) {
            <span>
              (+{{ (control().value?.length || 0) - 1 }} {{ control().value?.length === 2 ? 'other' : 'others' }})
            </span>
          }
        </mat-select-trigger>
      }
      @for (option of options(); track option.key) {
        <mat-option [title]="option.label" [value]="option.key">{{ capitalizeWords(option.label) }}</mat-option>
      }
    </mat-select>
  }
  @if (control().errors) {
    <mat-error>
      <sc-error [element]="element()" [errors]="control().errors"></sc-error>
    </mat-error>
  }
  @if (element().hint) {
    <mat-hint>{{ element().hint }}</mat-hint>
  }
</mat-form-field>
