@let elem = element();
@let cntrl = control();

<mat-label>{{ elem.label }}</mat-label>
<mat-form-field [style]="elem.width ? { width: elem.width } : { width: '100%' }">
  @if (elem.autoComplete) {
    <input
      type="text"
      matInput
      [placeholder]="elem.placeholder || ''"
      [required]="elem.required || false"
      [readonly]="elem.readonly || false"
      [hidden]="elem.hidden || false"
      [formControl]="cntrl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [title]="option.label" [value]="option.key">{{ capitalizeWords(option.label) }}</mat-option>
      }
    </mat-autocomplete>
  } @else {
    <mat-select
      [formControl]="cntrl"
      hideSingleSelectionIndicator
      [multiple]="elem.allowMultiple || false"
      [placeholder]="elem.placeholder || ''"
      [required]="elem.required || false"
      [hidden]="elem.hidden || false"
    >
      @if (elem.allowMultiple) {
        <mat-select-trigger>
          {{ cntrl.value?.[0]?.label || '' }}
          @if ((cntrl.value?.length || 0) > 1) {
            , {{ cntrl.value?.[1]?.label || '' }}
            @if ((cntrl.value?.length || 0) > 2) {
              <span>
                (+{{ (cntrl.value?.length || 0) - 2 }} {{ cntrl.value?.length === 3 ? 'other' : 'others' }})
              </span>
            }
          }
        </mat-select-trigger>
      }
      @if (options().length == 0 && elem.categoriesList?.length) {
        @for (group of elem.categoriesList; track group.category) {
          <mat-optgroup [label]="group.category" [disabled]="group.disabled">
            @for (option of group.options; track option) {
              <mat-option [title]="option.label" [value]="elem.allowMultiple ? option : option.key">{{
                capitalizeWords(option.label)
              }}</mat-option>
            }
          </mat-optgroup>
        }
      } @else {
        @for (option of options(); track option.key) {
          <mat-option [title]="option.label" [value]="elem.allowMultiple ? option : option.key">{{
            capitalizeWords(option.label)
          }}</mat-option>
        }
      }
    </mat-select>
  }
  @if (cntrl.errors && cntrl.touched) {
    <mat-error>
      <sc-error [element]="elem" [errors]="cntrl.errors"></sc-error>
    </mat-error>
  }
  @if (elem.hint) {
    <mat-hint>{{ elem.hint }}</mat-hint>
  }
</mat-form-field>
