:host ::ng-deep {
    .main_header {
        .form-container {
            background-color: transparent;
            box-shadow: initial;
        }
    }
    .add_teacher_tab {
        box-shadow: var(--boxShadow-s);
          background: white;
          overflow: hidden;
          border-radius: 8px;
          padding: 7px;
        .form-container {
            box-shadow: initial;
            padding:1.5rem 1rem  1rem 2rem !important;
        }
    }
    .additional_education {
        sc-form {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                height: 60%;
                transform: translate(10px, -50%);
                width: 0.3px;
                background-color: #00000059;
                top: 50%;
            }
        }
    }
}