@let element = formElement();
@switch (element.elementType) {
  @case ('checkbox') {
    <sc-checkbox-element [element]="element.element" [control]="control()"></sc-checkbox-element>
  }
  @case ('date') {
    <sc-date-element [element]="element.element" [control]="control()"></sc-date-element>
  }
  @case ('radio') {
    <sc-radio-element [element]="element.element" [control]="control()"></sc-radio-element>
  }
  @case ('chip') {
    @let options =
      dynamicListOptions() && dynamicListOptions()[element.element.key]
        ? (dynamicListOptions()[element.element.key] | async)
        : element.element.options;
    <sc-chip-element [keywords]="control().value || element.element.value" [options]="options ?? []" [element]="element.element" [control]="control()"></sc-chip-element>
  }
  @case ('select') {
    @let options =
      dynamicListOptions() && dynamicListOptions()[element.element.key]
        ? (dynamicListOptions()[element.element.key] | async)
        : element.element.options;
    <sc-select-element [options]="options ?? []" [element]="element.element" [control]="control()"></sc-select-element>
  }
  @case ('text') {
    <sc-text-element [element]="element.element" [control]="control()"></sc-text-element>
  }
  @case ('textarea') {
    <sc-textarea-element [element]="element.element" [control]="control()"></sc-textarea-element>
  }
  @case ('button') {
    <sc-button-element
      [element]="element.element"
      (clicked)="
        btnClick.emit({
          key: element.element.key,
          element: element.element
        })
      "
    ></sc-button-element>
  }
  @case ('label') {
    <sc-label-element [element]="element.element"></sc-label-element>
  }
  @case ('button-group') {
    <div
      [class]="
        'row ' +
        (element.element.display === 'column'
          ? 'flex-column align-items-center'
          : 'align-items-center justify-content-center flex-row')
      "
      [style]="element.element.width ? { width: element.element.width } : null"
    >
      @for (buttonElement of element.element.buttons; track $index) {
        <div [class]="buttonElement.cssClass || 'col'">
          <sc-button-element
            [element]="buttonElement"
            (clicked)="
              btnClick.emit({
                key: buttonElement.key,
                element: buttonElement,
              })
            "
          ></sc-button-element>
        </div>
      }
    </div>
  }
}
