@switch (formElement.elementType) { @case ('checkbox') {
<sc-checkbox-element
  [element]="formElement.element"
  [control]="control"
></sc-checkbox-element>
} @case ('date') {
<sc-date-element
  [element]="formElement.element"
  [control]="control"
></sc-date-element>
} @case ('radio') {
<sc-radio-element
  [element]="formElement.element"
  [control]="control"
></sc-radio-element>
} @case ('select') {
<sc-select-element
  [element]="formElement.element"
  [control]="control"
></sc-select-element>
} @case ('text') {
<sc-text-element
  [element]="formElement.element"
  [control]="control"
></sc-text-element>
} @case ('textarea') {
<sc-textarea-element
  [element]="formElement.element"
  [control]="control"
></sc-textarea-element>
} @case ('button') {
<sc-button-element
  [element]="formElement.element"
  (clicked)="
    btnClick.emit({
      key: formElement.element.key,
      element: formElement
    })
  "
></sc-button-element>
} @case ('label') {
<sc-label-element [element]="formElement.element"></sc-label-element>
} @case ('button-group') {
<div
  [class]="
    'row ' +
    (formElement.element.display === 'column'
      ? 'flex-column align-items-center'
      : 'flex-row align-items-center justify-content-center')
  "
  [style]="
    formElement.element.width ? { width: formElement.element.width } : null
  "
>
  @for(buttonElement of formElement.element.buttons; track $index){
  <div [class]="buttonElement.element.cssClass || 'col'">
    <sc-button-element
      [element]="buttonElement.element"
      (clicked)="
        btnClick.emit({
          key: buttonElement.element.key,
          element: buttonElement
        })
      "
    ></sc-button-element>
  </div>
  }
</div>
}}
