.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border: 0 !important;
}

.sidenav .mat-toolbar {
  background: var(--primary-550);
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--primary-550);
}

.router-link-active {
  background-color: #f7f7f7;
  box-shadow: inset 1px 0px #0000000d, inset 0px 1px #0000000d,
    inset 0px -1px #0000000d;
}
.nav_list {
  column-gap: 0.6rem;
  .material-symbols-outlined {
    font-size: 1.3rem;
  }
}
.mdc-list-item.mdc-list-item--with-one-line {
  border-radius: 31px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.mat-mdc-list-base {
  height: calc(100vh - (10vh));
  background-color: white;
}
