<div class="d-flex justify-content-between px-3 pt-3">
  <div class="text-lg"><strong>Add Shift</strong></div>
  <button mat-mini-fab class="add-shift" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<sc-form [formConfig]="addShiftFormConfig" #addShiftForm [dynamicListOptions]="dynamicOptions"></sc-form>

<div class="px-3 pb-2">
  <span class="text-xs" style="color: #323743ff; font-size: 12px">
    Note: Break time is optional. Leave these fields blank if no break is needed during this shift.</span
  >
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="basic" class="mx-2 shadow" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" class="mx-2 shadow" (click)="shiftDialog()">Save</button>
  </div>
</div>
