@let el = element();
@if (el.label) {
  <mat-label>{{ el.label }}</mat-label>
}
<mat-form-field>
  <mat-chip-grid #chipGrid [attr.aria-label]="el.placeholder" [formControl]="control()">
    @for (keyword of keywords(); track $index) {
      <mat-chip-row (removed)="removeKeyword(keyword)">
        {{ capitalizeWords(keyword) }}
        <button matChipRemove [attr.aria-label]="'remove ' + keyword">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  @if (el.autoComplete) {
    <input
      type="text"
      matInput
      [placeholder]="el.placeholder || ''"
      [required]="el.required || false"
      [(ngModel)]="currentChip"
      [readonly]="el.readonly || false"
      [hidden]="el.hidden || false"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredFruits(); track option) {
        <mat-option [title]="option.label" [value]="option.key">{{ option.label }}</mat-option>
      }
    </mat-autocomplete>
  } @else {
    <input
      [matChipInputFor]="chipGrid"
      [(ngModel)]="currentChip"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  }
</mat-form-field>
