<div class="row justify-content-between">
  @if(config().filter) {
    <div class="col" [formGroup]="filterForm">
      <sc-form-element
        [control]="filterForm.controls['search']"
        [formElement]="{ 
          elementType: 'text',
          element: {
            key: 'search',
            validateAs: 'text',
            placeholder: 'Search...',
          }
         }"
      ></sc-form-element>
    </div>
  }
  <ng-content select="[action-handler]"></ng-content>
</div>
<section class="table-container">
  <table mat-table matSort [dataSource]="dataSource">
    @for (column of config().columns; track column) {
      <ng-container [matColumnDef]="$any(column.columnDef)">
        @if (!column.formElement) {
          <th mat-header-cell *matHeaderCellDef [mat-sort-header]="$any(column.columnDef)">
            {{ column.header }}
          </th>
        } @else {
          <th mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </th>
        }
        <td mat-cell *matCellDef="let row">
          @if (column.formElement) {
            <sc-form-element
              [control]="formGroup.controls[column.formElement.element.key]"
              [formElement]="column.formElement"
              (btnClick)="buttonClick.emit({ key: $event.key, row })"
            ></sc-form-element>
          } @else {
            {{ column.cell ? column.cell(row) : row[column.columnDef] }}
          }
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell py-3 text-center text-bold" [attr.colspan]="displayedColumns.length">No record found</td>
    </tr>
  </table>
  <mat-divider></mat-divider>
  @if (config().pagination && data().length) {
    <mat-paginator
      [length]="data().length"
      [pageSize]="config().pagination?.pageSize || 10"
      [disabled]="config().pagination?.disabled"
      [showFirstLastButtons]="config().pagination?.showFirstLastButtons"
      [pageSizeOptions]="config().pagination?.pageSizeOptions || [10, 20, 30, 50, 100]"
      [hidePageSize]="config().pagination?.hidePageSize"
    >
    </mat-paginator>
  }
</section>
