.sidenav-container {
  height: 100%;
  background-color: var(--color-background);
}

.sidenav {
  width: 250px;
  border: 0 !important;
  box-shadow: var(--boxShadow-xs);
}

.sidenav .mat-toolbar {
  background: var(--primary-550);
  color: white;
}

.mat-toolbar {
  z-index: 999;
  background-color: #f8f9fa;
}

.nav_list {
  column-gap: 0.6rem;

  .material-symbols-outlined {
    font-size: 1.3rem;
  }
}

main {
  padding: 0.1rem 1rem 0.5rem;
  height: calc(100vh - (var(--mat-toolbar-standard-height)));
  background-color: #f8f9fa;
}

mat-icon.toggle {
  margin-top: -6px;
}

.avtar_container {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: var(--borderRadius-xxxl);
  background-color: var(--primary-550);
  border: var(--border-light);
  img {
    height: 100%;
  }
}

.profile_container {
  cursor: pointer;
  column-gap: 0.5rem;
  transition: 0.4s;
  background-color: white;
  color: rgba(black, 0.65);
  line-height: 1.2;
  min-width: var(--width-Sz20);
  border: var(--border-light);
  border-radius: var(--borderRadius-xxxl);

  &:hover {
    box-shadow: var(--boxShadow-s-mid);
  }

  .profile {
    font-size: 0.9rem;

    .profile_name,
    .profile_email {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: var(--width-Sz21);
    }

    .profile_name {
      font-size: 0.95em;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.541);
    }

    .profile_email {
      font-size: 0.7em;
      color: gray;
    }
  }
}

.layout_title {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--neutral-700);
}

.editOrViewSchoolProfile {
  font-size: 0.8em;
  color: var(--primary-500);
  padding-bottom: 1px;
  border-bottom: 1px solid var(--primary-500);
}

// mobile style

.mobile_width {
  width: 100%;
}

.mobile_padding {
  padding: 0px 5rem;
}
.close_mobile_menu {
  top: 0;
  right: 0;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
}

.profile_option {
  .user_profile_actions{
    color: var(--primary-550);
    cursor: pointer;
    mat-icon {
      width: 20px;
      font-size: 1.1em;
    }
  }

  .profile_name {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 5px 14px;
    border-radius: 27px;
    background: var(--primary-550);
  }
}

.mobile_bgColor {
  background: white !important;

  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    color: var(--primary-550) !important;
  }
}

.profile_icon {
  padding: 4px;
  border-radius: 27px;
  border: 1px solid rgb(189 174 174 / 47%);

  div {
    padding: 0px 9px;
    border-radius: 27px;
    background: var(--primary-550);
  }
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px !important;
}

::ng-deep {
  .nav_options_menu.mat-mdc-menu-panel {
    margin: 8px 9px;
    box-shadow: var(--boxShadow-m);
    border-radius: var(--borderRadius-l);
    min-width: 260px;
    font-size: 1rem;
    .profile_name {
      height: 48px;
      background: var(--primary-550);
      width: 48px;
      font-size: 1.3em;
      overflow: hidden;
      border-radius: var(--borderRadius-100-percent);
    }
    .profile_info {
      b {
        font-size: 14px;
        line-height: 22px;
        color: var(--neutral-900);
      }
      span {
        font-size: 12px;
        line-height: 20px;
        color: var(--neutral-500);
      }
    }
    .nav_list {
      .material-symbols-outlined {
        font-size: 1.6em !important;
      }
    }
  }
}
