<mat-label
  >{{ element().label }}
</mat-label>
<mat-form-field class="w-100">
  <input
    matInput
    [formControl]="control()"
    [matTimepicker]="hoursPicker"
    [required]="element().required || false"
    [matTimepickerMin]="element().minTime"
    [matTimepickerMax]="element().maxTime"
    (click)="changesEndTime()"
    [placeholder]="element().placeholder || ''"
  />
  <mat-timepicker [interval]="element().interval || '30m'" #hoursPicker />

  @if (control().errors) {
    <mat-error>
      <sc-error [element]="element()" [errors]="control().errors"></sc-error>
    </mat-error>
  }
  @if (element().hint) {
    <mat-hint>{{ element().hint }}</mat-hint>
  }
  @if (!element().disabled) {
    <mat-timepicker-toggle matIconSuffix [for]="hoursPicker" (click)="changesEndTime()" />
  }
</mat-form-field>
