<div class="form-array-container">
  @for (item of formArray.controls; track item) {
    <div class="align-items-center d-inline-flex">
      @if (min() <= $index) {
        <button mat-mini-fab style="background-color: #eb7623" (click)="delete($index)">
          <mat-icon>delete</mat-icon>
        </button>
      }
      <sc-form
        [_formGroup]="formArray.controls[$index]"
        [formConfig]="formConfig() | deepCopy"
        [dynamicListOptions]="dynamicListOptions()"
        [customDateClasses]="customDateClasses()"
        [dateFilters]="dateFilters()"
      ></sc-form>
    </div>
  }
</div>
@if (showAdd()) {
  <div class="pb-4">
    <button class="shadow" color="primary" mat-raised-button (click)="add()">Add +</button>
  </div>
}
