<ng-container>
  @for (item of elements; track item) {
    <div class="align-items-center d-inline-flex">
      <!-- Add A Button For Remove -->
      <button mat-mini-fab style="background-color: #eb7623" (click)="delete($index)">
        <mat-icon>delete</mat-icon>
      </button>
      <sc-form
        [formConfig]="formConfig()"
        [dynamicListOptions]="dynamicListOptions()"
        [customDateClasses]="customDateClasses()"
        [dateFilters]="dateFilters()"
      ></sc-form>
    </div>
  }
</ng-container>

<div class="pb-4">
  <button mat-raised-button (click)="add()">Add +</button>
</div>
