@let _chat = chat();
@let currentUser = user$ | async;

@if(currentUser) {
  @let user = _chat.sender.id === currentUser.id ? _chat.recipient : _chat.sender;
  <mat-card class="m-0 flex items-start content-center space-x-4 hover:bg-indigo-100 cursor-pointer p-1 bg-transparent shadow-none">
      <div class="w-100">
        <div class="flex justify-between w-100 items-center">
            <h3 class="font-semibold text-sm">{{ user?.name }}</h3>
            <div class="text-xs"> {{_chat.createdAt | timeAgo}} </div>
        </div>
        <p class="text-sm text-gray-600 truncate w-full">{{ _chat.content }}</p>
      </div>
    </mat-card>
}